:root{
  --bg-color:#34383D;
  --main-text:#FFFFFF;
  --bg-input:#1C1E21;
  --main-grey:#454956;
  --white-grey:#62707A;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(52,56,61);
  background: radial-gradient(circle, rgba(52,56,61,1) 70%, rgba(98,112,122,1) 100%);
  color: var(--main-text);

}
.container{
  max-width: 1070px;
  padding:0 15px;
  margin: 0 auto;
}
.title{
 text-align: center;
 font-size: 48px;
 font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}

