.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.inner{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
.button{
    width: 400px;
    height: 60px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 600;
    color: var(--bg-color);
    background-color: var(--main-grey);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.button a{
    position: absolute;
    width: 100%;
    top: 5px;
    left: 0;
}